%section.block{id: association}
  %article.block-content.mb-5
    %header.mb-3.mt-4
      .d-flex.flex-row.align-items-center
        %h4.m-0
          = heading
          %hr{ style: "width:3rem;" }

    = react_component "VariantBlock",
      variants: serialize(product.public_send(association), each_serializer: VariantSerializer).as_json
